{% extends 'authentication/register.html' %}
{% block namePage %}
    Авторизація
{% endblock %}


{% block form %}
    <div class="form-floating mb-4">
        <input type="text" class="form-control" id="floatingInput" value="{{username}}" name="username" placeholder="Ім'я користувача" required autocomplete="off">
        <label for="floatingInput">Ім'я користувача</label>
        <div class="invalid-feedback">
            Заповніть це поле
        </div>
    </div>
    <div class="form-floating mb-4">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Пароль" required>
        <label for="floatingPassword">Пароль</label>
        <div class="invalid-feedback">
            Заповніть це поле
        </div>
    </div>
    <button class="btn btn-outline-primary custom-width">Вхід</button>
    <a href="register" class="mt-4">В мене немає аккаунту</a>

    {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'delete_user' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mt-2">Видалити аккаунт</button>
        </form>
    {% endif %}

    {% if user.is_authenticated %}
    <p>Пользователь аутентифицирован</p>
    {% else %}
    <p>Пользователь не аутентифицирован</p>
    {% endif %}
{% endblock %}