<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Services of a qualified family psychologist">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b142f6c6b7.js" crossorigin="anonymous"></script>
    
    <link rel="icon" href="{% static 'main/circle-user-solid.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'main/facebook.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'main/linkedin.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'main/square-instagram.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'main/twitter.ico' %}" type="image/x-icon">

    {% block extra_styles %}{% endblock %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    <div class="container-fluid-lg">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/" title="Homepage">
                <img src="{% static 'main/logoNav.png' %}" class="logo d-none d-md-block" alt="Ksenija's logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse me-4" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/" >Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'works' %}" title="Консультації психолога">Консультації</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}" title="Про мене">Про мене</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}" title="Контакти">Контакти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'article_list' %}" title="blog">Блог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_profile' %}" title="profiles">Профіль</a>                        
                    </li>

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="navbar-brand" href="{% url 'logout' %}" title="Вихід">
                                <i class="fa-solid fa-circle-user fa-lg fa-color"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="navbar-brand" href="{% url 'auth' %}" title="Вхід">
                                <i class="fa-solid fa-circle-user fa-lg fa-color-not"></i>
                            </a>
                        </li>
                    {% endif %}

                    </ul>
            </div>
        </nav>

        <div class="containerfluid-lg">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
