.card-img-top {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}      
.card-title {
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.card-text {
    max-height: 70px; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.carousel-container {
    display: flex;
    overflow-x: auto;
}
.col-md-4 {
    flex: 0 0 auto;
    width: 33.3333%; /* Ширина для отображения трех карточек в строке */
    margin-right: 10px; /* Добавлен отступ между карточками */
}
@media (max-width: 767px) {
    .col-md-4 {
        width: 100%; /* На мобильных экранах отображаем карточки на всю ширину */
        margin-right: 0; /* Убираем отступ между карточками */
    }
    .carousel-container {
        overflow-x: hidden; /* Скрываем горизонтальную прокрутку на мобильных экранах */
    }
    .col-md-4:not(:last-child) {
        display: none; /* Скрываем все карточки, кроме последней */
    }
}