
{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/blog_styles.css' %}">

<div class="container-fluid  mt-4 ms-0 ">
    <div class="row">
        <div class="col-2 col-sm-12 ms-0">
            <div class="side-bar">
                <a href="{% url 'blog:add_post' %}" class="blog-title text-center mt-3">Створити пост</a>
                <div class="search">
                    <form method="get" action="{% url 'article_list' %}">
                        <input type="text" name="q" placeholder="Пошук...">
                        <button type="submit">Пошук</button>
                    </form>                    
                    {% if query %}
                        <h4>Результати пошуку для '{{ query }}'</h4>
                    {% endif %}
                </div>
                <h3>Теми:</h3>
                <ul>
                    {% for category in all_categories %}
                        <li class="list-of-categories">
                            <a href="{% url 'blog:category_posts' category_id=category.id %}"><h4>{{ category.name }}</h4></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-8 col-sm-12">    
            <div class="article-body ps-3 pe-3">      
                    <h1 class="mb-4 text-center">{{ post.title }}</h1>
                    <img src="{% if post.image.all %}{{ post.image.first.image }}{% else %}{% static 'path/to/default/image.jpg' %}{% endif %}" class="card-img-article mb-4 mx-auto d-block text-center" alt="Image">
                    <p class="content">{{ post.content }}</p>
                    
                    <p>Автор: {{ post.author.username }}</p>
                

                <h4>Вподобали: <span id="likes-count"></span></h4>
                <i id="like-icon" class="fa {% if liked %}fa-solid{% else %}fa-regular{% endif %} fa-heart" data-like-url="{% url 'blog:like_article' article_id=post.id %}"></i>
                
            
                <div class="" id="comments-container">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Додайте свій коментар:" id="comment-content" aria-label="Додайте свій коментар:" aria-describedby="bsubmit-comment">
                        <button class="btn btn-outline-secondary" type="button" id="submit-comment" data-add-comment-url="{% url 'blog:add_comment' post.id %}">Додати</button>
                    </div>
                    
                    <div class="feedback-title">
                        {% for comment in post.comments.all %}
                            {% if comment.author == request.user %}
                                <p class="form-control text-end">{{ comment.author.username }}: {{ comment.content }}</p>
                            {% else %}
                                <p class="form-control">{{ comment.author.username }}: {{ comment.content }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div> 
            </div>
        </div> 
    </div>  
</div>  
            <!-- Передача CSRF-токена и URL для добавления комментария в JavaScript -->
            <script>
                const csrfToken = '{{ csrf_token }}';
                const addCommentUrl = '{% url "blog:add_comment" post.id %}';
            </script>
            <script defer src="{% static 'blog/js/comments.js' %}"></script>
        
{% endblock %}